
:root {
    --border-size: 10px;
    --i-size: 2.75rem;


    --primary-color:  rgb(255, 191, 72);
    --primary-text-color: white;
    --primary-hover: orange;
    --primary-box-hover: deepskyblue;
    --primary-gradient: linear-gradient(130deg, rgb(150, 215, 255), lightskyblue);
    --primary-controlpanel: dodgerblue;
    --primary-list-top: dodgerblue;



    /*COLOR-PALETTE-B*/

    --palette-B-color: rgb(253, 169, 183) ;
    --palette-B-text-color: white;
    --palette-B-hover: rgb(64, 213, 224);
    --palette-B-box: skyblue;
    --palette-B-box-hover: pink;
    --palette-B-gradient: linear-gradient(130deg, turquoise, orchid);
    --palette-B-controlpanel: linear-gradient(90deg, turquoise, orchid);
    --palette-B-list-top: linear-gradient(90deg, turquoise, orchid);
    
  
    

    /*COLOR-PALETTE-C*/

    --palette-C-color:  burlywood;
    --palette-C-text-color: white;
    --palette-C-hover: rgb(190, 148, 92);
    --palette-C-box-hover: rgb(0, 149, 199);
    --palette-C-gradient: burlywood;
    --palette-C-controlpanel: rgb(0, 149, 199);
    --palette-C-list-top: rgb(0, 149, 199);


   
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
    
}


.page-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    
   
    
    
}

.cosmetic-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: var(--primary-gradient);


}

.cosmetic-center {
    width: 100%;
    height: 60%;
    background: rgba(22, 22, 22, 0.5);
}




.cosmetic-edge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    
    z-index: 0.7;

}

.bottom-page {
    position: relative;
}



::-webkit-scrollbar {
    width: 1rem;
}








.notification {

    position: absolute;
    
    text-align: center;
    background: lightgray;
    display: inline-block;
  
    padding: 1rem;
    border-radius: 20px;

    opacity: 0;

}

.notification.fade-in {
    
    animation: fade 1.5s linear;
    
}




@keyframes fade {
  0% { opacity: 1 }
  100% { opacity: 0 }
}








/* CONTROL PANEL ***********/

.control-panel {
    background: var(--primary-controlpanel);
    border: 2px solid rgb(24, 24, 24);
    
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 3rem;
    top: 2rem;
    z-index: 2;
    padding: 0.2rem 0.5rem 0.5rem;
    
    width: 15rem;
    
}

.page-container:has(.hidden) .control-panel{
    padding: 0.2rem;

}



.control-wrapper {
    display: flex;
    flex-direction: column;
    
}

.control-wrapper h1 {
    color: var(--primary-text-color);
    text-shadow: 0 0 3px black;
    font-weight: 600;
    font-size: 2rem;
    
}

.main-tag{
  
    padding: 0.1rem 0.5rem;
    border-radius: var(--border-size);
    margin-bottom: 0.2rem;
    
    
}

.btn-box {
    display: flex;
    justify-content: center;

  
    padding: 0.5rem;
    margin: 0 0.3rem;
    border-radius: var(--border-size);
}

.btn-box h2 {
    color: var(--primary-text-color);
    text-shadow: 0 0 4px black;
}

.btn-box span {
    margin: 0 0.6rem;
    background: var(--primary-color);
    padding: 0.3rem 0.5rem;
    border-radius: var(--border-size);
    box-shadow: 0 0 5px black;
    cursor: pointer;
}

.btn-box span:hover {
    background: var(--primary-hover);
}

.btn-box i {

    width: var(--i-size);
    height: var(--i-size);
    font-size: 2rem;
    flex-shrink: 0;
    color: var(--primary-text-color);
    text-shadow: 0 0 3px black;
    background: var(--primary-color);
    box-shadow: 0 0 5px black;
    border-width: 0px;
    border-radius: var(--border-size);
    cursor: pointer;
    text-align: center;
}

.btn-box i:hover {
    background: var(--primary-hover);
}

#storage-container {
    background-color: rgba(24, 24, 24, 0.5);
    height: 50vh;
    
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    
    
}




#storage-container span{

    background: var(--primary-color);
    border: 2px solid rgb(241, 241, 241);
    box-shadow: 0 0 3px black;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 1.2rem;
    margin: 0.5rem 0.3rem;
    overflow: hidden;
    padding: 0.2rem 0.5rem;
    text-overflow: ellipsis;
 
}

#storage-container p{
    display: inline;

    white-space: nowrap;
}


#storage-container span:hover{
    text-shadow: 0;
    color: var(--primary-text-color);
    background: var(--primary-box-hover);  
}






#storage-container::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border: 2px solid rgb(66, 64, 64);
    
}



#storage-container.hidden{
    display: none;
    
}





@media screen and (max-width:1200px){
    
    
    
    .control-panel {
        
        
        left: 20%;
        top: 1rem;
        
        
        width: 13rem;
        
    }
    
    
    
    .control-wrapper h1 {
        font-size: 1.6rem;
    }
    
    
    
    
    
    .btn-box i {
        width: 2.25rem;
        height: 2.25rem;
        font-size: 1.6rem;
    }
    .btn-box span {
        margin: 0 0.3rem;
        padding: 0.1rem 0.5rem;
        border-radius: var(--border-size);
    
    }
    
    #storage-container span{

        font-size: 1rem;
        margin: 0.5rem 0.3rem;
        padding: 0.2rem 0.5rem;
    
    }

    
}

@media screen and (max-width:800px) {

    .control-wrapper h1 {
        font-size: 1.6rem;
    }
    
    .control-panel {
       
  
        left: 10%;
        top: 1rem;
      
    
        width: 12.5rem;
    
    }

    .btn-box {
        padding: 0.3rem 0;
        margin: 0;
        border-radius: var(--border-size);
    }
    
    

    
#storage-container {
    height: 50vh;
    margin-top: 0.5rem;

    
}




#storage-container span{

    font-size: 1rem;
    margin: 0.5rem 0.3rem;
    padding: 0.2rem 0.5rem;

}


}

@media screen and (max-width:600px) {
    
    .control-panel {
        
        left: 2.5%;

        
    }
}

@media screen and (max-width:500px) {
    
    .control-panel {
        left: 2.5%;
        padding: 0.2rem;
        width: 8rem;
    }
    
    .page-container:has(.hidden) .control-panel{
        width: 10.5rem;
    }
    
    .control-wrapper h1 {
        font-size: 1rem;
    }
    
    .page-container:has(.hidden) .control-wrapper h1{
        font-size: 1.4rem;
    }
    

    
    
    /***BTN-BOX***/
    
    .btn-box {
        padding: 0.1rem 0;
        
    }
    
    .page-container:has(.hidden) .btn-box{
        padding: 0.3rem 0;
        margin: 0;
        border-radius: var(--border-size);
    }
    
    
    .btn-box span {
        border-radius: 5px;
        font-size: 0.6rem;
        padding: 0.1rem 0.1rem;
    }
    
    .page-container:has(.hidden) .btn-box span{
        margin: 0 0.2rem;
        padding: 0.1rem 0.3rem;
        font-size: 0.8rem;
        border-radius: var(--border-size);
        
    }
    
    .btn-box i {
        border-radius: 5px;
        width: 1.6rem;
        height: 1.6rem;
        font-size: 1.2rem;
     
    }
    
    .page-container:has(.hidden) .btn-box i{
        width: 2rem;
        height: 2rem;
        font-size: 1.4rem;
    }
    
    
    /***STORAGE-CONTAINER***/
    
    #storage-container {
        height: 44vh;
        margin-top: 0.5rem;
    
        
    }

    #storage-container::-webkit-scrollbar {
        width: 0rem;
    }
    
    
    
    
    
    #storage-container span{

        font-size: 1rem;
        margin: 0.5rem 0.3rem;
        padding: 0.2rem 0.5rem;
    
    }
}



/* LIST ****************/

#list-container{
    z-index: 1;
    width: 40%;
    

}

.list {
    display: inline-flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: var(--border-size);
    overflow: hidden;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 5px black;  
    
}

.list ::-webkit-scrollbar-track{
    background: rgba(70, 69, 69, 0.3);
    border-radius: 100vw;
}

.list ::-webkit-scrollbar-thumb{
    background: rgba(37, 37, 37, 0.3);
    border-radius: 100vw;
    background-color: var(--primary-color);
}

.list input {
    outline: none;
    padding: 0.3rem 0.5rem;
    
    
}

.list-top i {
    
    font-size: 1.6rem;
    color: var(--primary-text-color);
    text-shadow: 0 0 1px black;
    background-color: var(--primary-color);
    border-width: 0;
    border-radius: var(--border-size);
    height: var(--i-size);
    width: var(--i-size);
    
    padding: 0.6rem;
    box-shadow: 0 0 5px black;
    text-align: center;
}

.list-top i:hover {
    background: var(--primary-hover);
}





.list-top {
    display: flex;
    
    align-items: center;
    padding:  0.8rem 0.5rem;
    background: var(--primary-list-top);
    justify-content: space-between;
}

.list-name {
    text-align: center;
    margin: 0 8px;
    font-size: 1.4rem;
    border-radius: var(--border-size);
    flex-grow: 1;
}


.list-bottom {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}
.input-group{
    width: 95%;
    display: flex;
    box-shadow: 0 0 5px black;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: var(--border-size);
    overflow: hidden;
}

.input{
    font-size: 1.2rem;
    flex-grow: 1;
    border: none;
}

.add-btn{
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    color: var(--primary-text-color);
    text-shadow: 0 0 3px black;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-size);
    
}

.add-btn:hover {
    background: var(--primary-hover);
}

.task-box {
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 234, 234);
    height: 30rem;
    padding: 0.3rem;
    gap: 1rem;
    overflow: auto;
    
}



.task-wrapper p {
    font-size: 1.2rem;
    display: inline;
    word-break: break-all;
    padding: 0 1rem;
}

.task-wrapper {
    border: 2px solid black;
    background: white;
    
    
    padding: 0.3rem 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.checkbox {
    
    display: block;
    cursor: pointer;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: 5px;
    position: relative;
    flex-shrink: 0;
    
    
    
}

.checkbox:hover {
    background-color: #ccc;
}

.checkbox.checked {
    background-color: var(--primary-color);
}

.checkbox.checked ~ p {
    text-decoration: line-through;
    color: var(--primary-color);
    
}

.checkmark{
    display: none;
    color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}



.checked .checkmark{
    display: inline-block;
    color: black
}



.task-box .task-delete{ 
    margin-right: 10px;
    font-size: 1rem;
}
.task-box .task-delete:hover{  
    color: firebrick;
}

.task-tracker {
    padding: 0.5rem 0 0;
}

.task-tracker p {
    display: inline;
}


@media screen and (max-width:1500px){
    
    
    #list-container{
        z-index: 1;
        width: 50%;
    }
    
    
}

@media screen and (max-width:1300px){
    
    
    #list-container{
        z-index: 1;
        width: 50%;
    
    }
    
    
    
}



@media screen and (max-width:1200px){



    
    #list-container{
        transform: scale(0.8);
        margin-left: 20rem;
        
       
    }

    .page-container {
        align-items: baseline;
    }
    
    .page-container:has(.hidden) #list-container{
        
        margin-left: 0;
        margin-top: 4rem;
        width: 60%;
        transform: scale(1);
        transition: transform 0.5s;
        
    }

    .page-container:has(.hidden) {
        
        align-items: center;
        
    }
    

    
    
}

@media screen and (max-width:800px){



    
    #list-container{
        width: 80%;
        transform: scale(0.7);
        margin-left: 15rem;
    
       
    }
    
    .page-container:has(.hidden) #list-container{
        
        margin-left: 0;
        margin-top: 4rem;
        width: 80%;
        transform: scale(1);
        
    }
    
  
    
    .list {
        border-radius: var(--border-size);
        width: 100%;
        z-index: 1;
    }
    
    
   
    
    .list input {
        padding: 0.3rem 0.5rem;
    }
    
    
    
    /***List Top***/
    
    .list-top {
        padding:  0.8rem 0.5rem;
    }
    
    
    .list-top i {

        padding: 0.35rem;
        width: 2.25rem;
        height: 2.25rem;
        font-size: 1.6rem;
    
    }
    
    .list-name {
        margin: 0 8px;
        font-size: 1.2rem;
    
    }
    
    
    /***LIST BOTTOM***/
    
    .list-bottom {
        padding: 0.5rem;
    }
    .input-group{
        width: 95%;
        margin-bottom: 1rem;
    }
    
    .input{
        font-size: 1rem;
    }
    
    .add-btn{
        font-size: 1rem;
        padding: 0.3rem 0.5rem;
        border-radius: var(--border-size);
    }
    
    
    
    /***TASK-BOX***/
    
    .task-box {
        width: 95%;
        height: 30rem;
        padding: 0.3rem;
        gap: 0.8rem;
    }
    
    
    
    .task-wrapper p {
        padding: 0 1rem;
        font-size: 1rem;
    }
    
    .task-wrapper {
        padding: 0.3rem 0;
    
    }
    
    
    
}

@media screen and (max-width:600px) {
    
    #list-container{
        width: 95%;
        transform: scale(0.7);
        margin-left: 15rem;
    
       
    }
    
    .page-container:has(.hidden) #list-container{
        
        margin-left: 0;
        margin-top: 4rem;
        width: 95%;
        transform: scale(1);
        
    }
}

@media screen and (max-width:500px) {
    
  

    #list-container{
        width: 100%;
        transform: scale(0.5);
        margin-left: 8rem;
    
        
        margin-top: 0;
       
    }
    
    .page-container:has(.hidden) #list-container{
        margin-top: 0;
        margin-left: 0;
        width: 95%;
        transform: scale(1);
        
    }


        
    .list {
        border-radius: var(--border-size);
        width: 100%;
        z-index: 1;
    }
    
    
   
    
    .list input {
        padding: 0.1rem 0.1rem;
    }
    
    
    
    /***List Top***/
    
    .list-top {
        padding:  0.6rem 0.3rem;
    }
    
    
    .list-top i {

        padding: 0.35rem;
        width: 2rem;
        height: 2rem;
        font-size: 1.4rem;
    
    }
    
    .list-name {
        margin: 0 2px;
        font-size: 1.2rem;
    
    }
    
    
    /***LIST BOTTOM***/
    
    .list-bottom {
        padding: 0.3rem 0.1rem;
    }
    .input-group{
        width: 95%;
        margin-bottom: 0.5rem;
    }
    
    .input{
        font-size: 1rem;
    }
    
    .add-btn{
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
        border-radius: var(--border-size);
    }
    
    
    
    /***TASK-BOX***/
    
    .task-box {
        width: 95%;
        height: 25rem;
        padding: 0.3rem;
        gap: 0.8rem;
    }

    .task-box::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    
    
    .task-wrapper p {
        padding: 0 1rem;
        font-size: 1rem;
    }
    
    .task-wrapper {
        padding: 0.3rem 0;
    
    }

    .checkbox {

        border-radius: 5px;
        height: 20px;
        width: 20px;
    
        margin-left: 5px;
    
      }
    
     
    
    .task-box .task-delete{ 
        margin-right: 10px;
        margin-top: 2px;
        font-size: 0.8rem;
    }


    .task-tracker {
        padding: 0.3rem 0 0;
    }
    
    


}



/*COLOR-PALETTES*/


.page-container.color-palette-B .cosmetic-container{
    background: var(--palette-B-gradient);
}

.page-container.color-palette-B .control-panel {
    background: var(--palette-B-controlpanel);

}

.page-container.color-palette-B .control-wrapper h1  {
    color: var(--palette-B-text-color);
   
}




.page-container.color-palette-B .btn-box h2  {
    color: var(--palette-B-text-color);
}


.page-container.color-palette-B .btn-box span  {
    background: var(--palette-B-color);
}


.page-container.color-palette-B .btn-box span:hover {
    background: var(--palette-B-hover);
}

.page-container.color-palette-B .btn-box i {
    color: var(--palette-B-text-color);
    background: var(--palette-B-color);
}

.page-container.color-palette-B .btn-box i:hover {
    background: var(--palette-B-hover);
}



.page-container.color-palette-B #storage-container span {
    background: var(--palette-B-box);
   
    border-color: rgb(241, 241, 241);
    text-shadow: none;
}


.page-container.color-palette-B #storage-container span:hover {
    color: var(--palette-B-text-color);
    background: var(--palette-B-box-hover); 
}



.page-container.color-palette-B #storage-container::-webkit-scrollbar-thumb{
    background: var(--palette-B-color);
    border-color: rgb(66, 64, 64);
}

.page-container.color-palette-B .list {
    background-color: lightgray;
}


.page-container.color-palette-B .list ::-webkit-scrollbar-track{
    background: rgba(70, 69, 69, 0.3);
    border-radius: 100vw;
   
}

.page-container.color-palette-B .list ::-webkit-scrollbar-thumb{
    background: var(--palette-B-color);
    border-radius: 100vw;
   
    
}

.page-container.color-palette-B .list-top i {
    color: var(--palette-B-text-color);
    
    background-color: var(--palette-B-color);
}


.page-container.color-palette-B .list-top i:hover {
    background-color: var(--palette-B-hover);
}

.page-container.color-palette-B .list-top {
    background: var(--palette-B-list-top);
}

/* .page-container.color-palette-B .list-name {

}

.page-container.color-palette-B .input{
 
} */

.page-container.color-palette-B .add-btn{

    color: var(--palette-B-text-color);

    background-color: var(--palette-B-color);

}

.page-container.color-palette-B .add-btn:hover {
    background-color: var(--palette-B-hover);
}

.page-container.color-palette-B .task-box {

    background-color: rgb(234, 234, 234);

}

.page-container.color-palette-B .task-wrapper {
    border-color: black;
    background: white;
}




.page-container.color-palette-B .checkbox {

    background-color: #eee;

}

.page-container.color-palette-B .checkbox:hover {
    background-color: #ccc;
}

.page-container.color-palette-B .checkbox.checked {
    background-color: var(--palette-B-color);
}

.page-container.color-palette-B .checkbox.checked ~ p {
    color: var(--palette-B-color);
   
    
    
    
}

.page-container.color-palette-B .checkmark{

    color: #eee;
}

.page-container.color-palette-B .checked .checkmark{
    color: black
}

/*PALETTE C____________*/


.page-container.color-palette-C .cosmetic-container{
    background: var(--palette-C-gradient);
}

.page-container.color-palette-C .control-panel {
    background: var(--palette-C-controlpanel);

}

.page-container.color-palette-C .control-wrapper h1  {
    color: var(--palette-C-text-color);
   
}




.page-container.color-palette-C .btn-box h2  {
    color: var(--palette-C-text-color);
}


.page-container.color-palette-C .btn-box span  {
    background: var(--palette-C-color);
}


.page-container.color-palette-C .btn-box span:hover {
    background: var(--palette-C-hover);
}

.page-container.color-palette-C .btn-box i {
    color: var(--palette-C-text-color);
    background: var(--palette-C-color);
}

.page-container.color-palette-C .btn-box i:hover {
    background: var(--palette-C-hover);
}



.page-container.color-palette-C #storage-container span {
    background: var(--palette-C-color);
    border-color: rgb(241, 241, 241);
    text-shadow: none;
}


.page-container.color-palette-C #storage-container span:hover {
    color: var(--palette-C-text-color);
    background: var(--palette-C-box-hover); 
}



.page-container.color-palette-C #storage-container::-webkit-scrollbar-thumb{
    background: var(--palette-C-color);
    border-color: rgb(66, 64, 64);
}




.page-container.color-palette-C .list ::-webkit-scrollbar-track{
    background: rgba(70, 69, 69, 0.3);
}

.page-container.color-palette-C .list ::-webkit-scrollbar-thumb{
    background: var(--palette-C-color);
}

.page-container.color-palette-C .list-top i {
    color: var(--palette-C-text-color);
    
    background-color: var(--palette-C-color);
}


.page-container.color-palette-C .list-top i:hover {
    background-color: var(--palette-C-hover);
}

.page-container.color-palette-C .list-top {
    background: var(--palette-C-list-top);
}

/* .page-container.color-palette-C .list-name {

}

.page-container.color-palette-C .input{
 
} */

.page-container.color-palette-C .add-btn{

    color: var(--palette-C-text-color);

    background-color: var(--palette-C-color);

}

.page-container.color-palette-C .add-btn:hover {
    background-color: var(--palette-C-hover);
}

.page-container.color-palette-C .task-box {

    background-color: rgb(234, 234, 234);

}

.page-container.color-palette-C .task-wrapper {
    border-color: black;
    background: white;
}


.page-container.color-palette-C .checkbox {

    background-color: #eee;

}

.page-container.color-palette-C .checkbox:hover {
    background-color: #ccc;
}

.page-container.color-palette-C .checkbox.checked {
    background-color: var(--palette-C-color);
}

.page-container.color-palette-C .checkbox.checked ~ p {
    color: var(--palette-C-color);
}

.page-container.color-palette-C .checkmark{

    color: #eee;
}

.page-container.color-palette-C .checked .checkmark{
    color: black
}